{% extends 'base.html.twig' %}

{% block title %}Demande{% endblock %}

{% block body %}
    <h1>Demande</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ demande.id }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ demande.phone }}</td>
            </tr>
            <tr>
                <th>Value</th>
                <td>{{ demande.value }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ demande.description }}</td>
            </tr>
            <tr>
                <th>Fullname</th>
                <td>{{ demande.fullname }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_demande_index') }}">back to list</a>

    <a href="{{ path('app_demande_edit', {'id': demande.id}) }}">edit</a>

    {{ include('demande/_delete_form.html.twig') }}
{% endblock %}
