{% extends 'adminBase.html.twig' %}

{% block title %}Depart index{% endblock %}

{% block body %}
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Tables</h1>
    <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
        For more information about DataTables, please visit the <a target="_blank"
            href="https://datatables.net">official DataTables documentation</a>.</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary"><a href="{{path('app_depart_new')}} ">Créer</a> </h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nom de commune de depart</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>Nom de commune de depart</th>
                            <th>actions</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for depart in departs %}
                            <tr>
                                <td>{{ depart.id }}</td>
                                <td>{{ depart.namedepart }}</td>
                                <td>
                                    <a href="{{ path('app_depart_edit', {'id': depart.id}) }}" class="btn btn-warning">Modifier</a>
                                    <form method="post" action="{{ path('app_depart_delete', {'id': depart.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ depart.id) }}">
                                        <button class="btn btn-danger">Sup</button>
                                    </form>

                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="3">Pas de commune trouvée</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
    
{% endblock %}
